{
  "singleQuote": false,
  "printWidth": 120,
  "parser": "typescript",
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "requirePragma": false
}
